#banner{
    height: 90vh;
    background: url('ok.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 900;
    transition: all .4s ease;
}

.btn-brand {
    background-color: rgb(97, 25, 25);
    color: #fff;
}

.btn-brand:hover{
    background-color: transparent;
    border: 3px solid white;
    color: white;
}

section{
    padding: 100px 0px;
}

#about h2{
    font-size: 55px;
    font-weight: 900;
    color: whitesmoke;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;

}

#about{
    background-color: black;
}

#services{
    background-color: rgb(66, 17, 17);
}
#services .btn:hover{
    color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
    background-color: transparent;
}

#services h3{
    font-size: 55px;
    font-weight: 900;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.luh{
    width: 40%;
}

.card {
    transition: background-color 0.3s, color 0.3s;
    border: 5px solid var(--border); /* Border style */
    box-shadow: 0 0  10px black;
    border-radius: 30px;
}

.card:hover {
    background-color: black;
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn {
    color: #fff;
}

